html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  // width: 500px;
  background-color: azure;
  border-radius: 15px;

  h1,
  h3 {
    color: blue;
  }
}

.divider {
  width: 100%;
}

.list-api ul {
  list-style: none;

  li {
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(226, 226, 226);
  }
}
